.section-1{
    height: 700px;
    overflow: none !important;
    @media screen and (min-width: 640px){
        height: 500px !important;
    }
    .main-info{
        @media screen and (min-width: 640px){
            transform: translateY(5em);
        }
    }
}

svg{
    width: 100%;
    overflow: hidden;
}
.section-2{
    min-height: 700px;
    h1, h2{
      font-size: 35px;
    }
   @media screen and (min-width: 640px){
    height: 600px;
    h1, h2{
      font-size: 50px;
    }
   }
    .progress {
        background: rgba(255, 255, 255, 0.024);
        justify-content: flex-start;
        border-radius: 100px;
        align-items: center;
        position: relative;
        padding: 0 5px;
        display: flex;
        height: 20px;
        min-width: 300px;
        max-width: 1200px;
      }
      
      .progress-value {
        animation: load 12s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        border-radius: 100px;
        
        height: 12px;
        width: 0;
      }
      
      @keyframes load {
        0% { width: 0; }
        100% { width: 78%; }
      }
      .progress-2 {
        background: rgba(255, 255, 255, 0.024);
        justify-content: flex-end;
        border-radius: 100px;
        align-items: center;
        position: relative;
        padding: 0 5px;
        display: flex;
        height: 20px;
        min-width: 300px;
        max-width: 1200px;
        overflow-x: hidden !important;
      }
      
      .progress-value-2 {
        animation: load 12s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        border-radius: 100px;
        
        height: 12px;
        width: 0;
      }
      
      @keyframes load {
        0% { width: 0; }
        100% { width: 68%; }
      }
}

.section-3{
    min-height: 600px;
    @media screen and (min-width: 640px){
        max-height: 400px !important;
    }
}



.navbar-container{
  display: flex;
  justify-content: center;
}


