footer{
    height: 300px;
    background: black;
    width: 100%;
    bottom: 0;
    position: relative;
    clear: both;
    h5{
        color: white;
    }
}

.bottom-pattern{
    margin-top: 0;
}
