---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar';
import MyImage from '../components/MyImage';
import Buttons from '../components/Buttons';
import Footer from '../components/footer';


let title = 'Contact';
---



<Layout>
	 <header class="uk-sticky bg-slate-800 h-14" data-uk-sticky>
			<div class="uk-flex uk-flex-center">
				<Navbar />
		    	</div>
	</header>
        <div class="uk-container">
          <div class="info translate-y-10 pb-0">
            <p class="text-white text-center text-xl">Questions? Please fill out the contact form below and I will get back with you as soon as possible!</p>
          </div>
          <div class="uk-grid uk-child-width-expand@s pl-7" data-uk-grid>
            <div class="uk-card uk-card-default uk-card-body mt-20 uk-border-rounded">
                <form id="form">
                    <div class="field">
                      <label for="from_name">Your Name</label>
                      <input type="text" class="uk-input" name="from_name" id="from_name">
                    </div>
                    <div class="field">
                      <label for="email">Email</label>
                      <input type="email" class="uk-input" name="email" id="email">
                    </div>
                    <div class="field">
                        <label for="subject">Subject</label>
                        <input type="text" class="uk-input" name="subject" id="subject">
                      </div>
                    <div class="field">
                      <label for="message">Message</label>
                      <textarea class="uk-textarea" rows="5" name="message" id="message" />
                    </div>
                  
                    <input type="submit" class="uk-button uk-button-danger mt-4 bg-red-500 uk-border-rounded"id="button" value="Send Email" >
                  </form>
            </div>
            
          </div>

        </div>
    <svg id="visual" viewBox="0 0 960 140" width="960" height="140" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="960" height="140" fill="#475569"></rect><path d="M0 117L12.3 117.3C24.7 117.7 49.3 118.3 74 115.7C98.7 113 123.3 107 148 98.5C172.7 90 197.3 79 221.8 77.5C246.3 76 270.7 84 295.2 81.5C319.7 79 344.3 66 369 57.3C393.7 48.7 418.3 44.3 443 54.7C467.7 65 492.3 90 517 103C541.7 116 566.3 117 591 110.7C615.7 104.3 640.3 90.7 664.8 80.8C689.3 71 713.7 65 738.2 70.5C762.7 76 787.3 93 812 101.3C836.7 109.7 861.3 109.3 886 101.8C910.7 94.3 935.3 79.7 947.7 72.3L960 65L960 141L947.7 141C935.3 141 910.7 141 886 141C861.3 141 836.7 141 812 141C787.3 141 762.7 141 738.2 141C713.7 141 689.3 141 664.8 141C640.3 141 615.7 141 591 141C566.3 141 541.7 141 517 141C492.3 141 467.7 141 443 141C418.3 141 393.7 141 369 141C344.3 141 319.7 141 295.2 141C270.7 141 246.3 141 221.8 141C197.3 141 172.7 141 148 141C123.3 141 98.7 141 74 141C49.3 141 24.7 141 12.3 141L0 141Z" fill="#0f172a" stroke-linecap="round" stroke-linejoin="miter"></path></svg>
    <Footer />
    <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script>
    
    const btn = document.getElementById('button');

document.getElementById('form')
 .addEventListener('submit', function(event) {
   event.preventDefault();

   btn.value = 'Sending...';

   const serviceID = import.meta.env.PUBLIC_SERVICE_ID;
   const templateID = import.meta.env.PUBLIC_TEMPLATE_ID;

   emailjs.sendForm(serviceID, templateID, this)
    .then(() => {
      btn.value = 'Send Email';
      window.location.href = "/thankyou";
    }, (err) => {
      btn.value = 'Send Email';
      alert(JSON.stringify(err));
    });
});
</script>
   
</Layout>
