---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar';
import MyImage from '../components/MyImage';
import Buttons from '../components/Buttons';


let title = 'Contact';
---

<Layout>
	<Navbar />
	<div class="wrapper">
        
    </div>
</Layout>