---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar';
import MyImage from '../components/MyImage';
import Buttons from '../components/Buttons';
import Portfolio from '../components/Portfolio';


let title = 'Portfolio';
---

<Layout>
	<Navbar />
        <div class="wrapper">
                <div class="uk-container">
                    <Portfolio />   
                </div>
        </div>
</Layout>