---

import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import ThankYou from "../components/ThankYou";
let title = "Thank You";
---

<Layout>
 <header class="uk-sticky bg-slate-800 h-14" data-uk-sticky>
			<div class="uk-flex uk-flex-center">
				<Navbar />
		    	</div>
	</header>
<div class="wrapper">
    <div class="uk-container">
        <ThankYou />
    </div>
</div>

</Layout>
