---

import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import ThankYou from "../components/ThankYou";
let title = "Thank You";
---

<Layout>
				<Navbar />
<div class="wrapper">
    <div class="uk-container">
        <ThankYou />
    </div>
</div>

</Layout>
