---

import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import ThankYou from "../components/ThankYou";
import Footer from '../components/footer';

let title = "Thank You";
---

<Layout>
				<Navbar />
<div class="bg-slate-600 min-h-screen">
    <div class="uk-container">
        <ThankYou />
    </div>
</div>
<Footer />

</Layout>
