@import "components/buttons";
@import "components/_header";
@import "components/sections";
@import "components/typography";
@import "components/variables/colors";
@import "components/footer";
@import "components/menu";

body{
    background-image: url("styles/images/oil-background.webp");
    height: 100%;
    margin: 0;
}